$sfg-default-prefix: '';

$sfg-default-grid-breakpoints: (
  extra-small: (
    name: xs,
    columns: 12,
    gutter: 16px,
    min-width: 0
  ),
  small: (
    name: sm,
    columns: 12,
    gutter: 16px,
    min-width: 36em
  ),
  medium: (
    name: md,
    columns: 12,
    gutter: 24px,
    min-width: 48em
  ),
  large: (
    name: lg,
    columns: 12,
    gutter: 24px,
    min-width: 64em
  ),
  extra-large: (
    name: xl,
    columns: 12,
    gutter: 24px,
    min-width: 90em
  )
);

$sfg-breakpoints: $sfg-default-grid-breakpoints;
@if global-variable-exists(grid-breakpoints) {
	$sfg-breakpoints: $grid-breakpoints;
}

$sfg-prefix: $sfg-default-prefix;
@if global-variable-exists(grid-prefix) {
	$sfg-prefix: $grid-prefix;
}
